<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Liquid Test</title>
    <style type="text/css">
        p, td {
            font-family: "Calibri", sans-serif;
            font-size: 11.0pt;
        }
    </style>
</head>
<body>
<p style="font-size: 14pt; font-weight: bold;">{{AppName}} v{{AppVersion}}</p>
<p>
    <table style="border: 0;">
        <tr>
            <td style="font-weight: bold;">Renderer:</td>
            <td>{{MailRenderer}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Sender:</td>
            <td>{{MailSender}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Template Path:</td>
            <td>{{MailTemplatePath}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Mail Host:</td>
            <td>{{MailHost}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Mail Port:</td>
            <td>{{MailPort}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Mail Test Timeout:</td>
            <td>{{MailTestTimeout}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Use Authentication:</td>
            <td>{{MailUseAuthentication}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Username:</td>
            <td>{{MailUsername}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Password:</td>
            <td>{{MailPassword}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Use TLS:</td>
            <td>{{MailUseTls}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">SMTP Timeout:</td>
            <td>{{MailTimeout}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Mail From:</td>
            <td>{{MailFrom}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Mail To:</td>
            <td>{{MailTo}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Mail Debug:</td>
            <td>{{MailDebug}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Mail Subject:</td>
            <td>{{MailSubject}}</td>
        </tr>
    </table>
</p>
</body>
</html>