<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file ="C:\Users\mattm\source\repos\Lurgle.Alerting\LurgleTest\secrets.config">
    <add key="AppName" value="Test"/>
    <add key="MailRenderer" value="Razor"/>
    <add key="MailTemplatePath" value="C:\Users\mattm\Source\Repos\UCS\SFTP-Transfer\SFTP-Transfer\SFTP-Transfer\bin\Release\net462\Templates"/>
    <add key="mailHost" value="mail" />
    <add key="MailUseTls" value="true"/>
    <add key="MailTimeout" value="60"/>
    <add key="MailFrom" value="bob@builder.com"/>
    <add key="MailTo" value="wendy@builder.com"/>
  </appSettings>
</configuration>