<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings file="C:\Users\mattm\source\repos\Lurgle.Alerting\LurgleTest\secrets.config">
    <!-- Standard Lurgle.Alerting params -->
    <add key="AppName" value="Test" />
    <add key="MailRenderer" value="Razor" />
    <add key="MailSender" value="MailKit" />
    <add key="MailTemplatePath" value="" />
    <add key="MailHost" value="mail" />
    <add key="MailPort" value="25" />
    <add key="MailTestTimeout" value="3" />
    <add key="MailUseAuthentication" value="false" />
    <add key="MailUsername" value="" />
    <add key="MailPassword" value="" />
    <add key="MailUseTls" value="true" />
    <add key="MailTimeout" value="60" />
    <add key="MailFrom" value="bob@builder.com,validate.onlyone@builder.com" />
    <add key="MailTo" value="wendy@builder.com,bob@builder.com,crapaddress.fortesting" />
    <add key="MailDebug" value="scoop@builder.com,muck@builder.com,lofty@builder.com,crapaddress.fortesting" />
    <add key="MailSubject" value="Alert!" />

    <!-- LurgleTest param for testing email config retrieval -->
    <add key="EmailTest" value="roley@builder.com,crapaddress.fortesting" />
  </appSettings>
</configuration>